<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orbit_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Orbit_.Properties.Settings>
            <setting name="bMousePos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bVelocity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bForce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bForceOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bExplosion" serializeAs="String">
                <value>True</value>
            </setting>
        </Orbit_.Properties.Settings>
    </userSettings>
</configuration>